<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Расчёт потерь в милиамперах</title>
    <link rel="stylesheet" href="/static/styles/message_globals.css" />
    <link rel="stylesheet" href="/static/styles/message.css" />
  </head>
  <body>
    <main class="screen">
      <div class="div">
        <header class="frame">
          <nav class="div-wrapper">
            <a class="text-wrapper" href="/hello" aria-label="Перейти на главную страницу">домой</a>
          </nav>
        </header>
        <section class="overlap">
          <article class="frame-2">
            <div class="frame-3">
              <div class="text-wrapper-2">{{ .order.Title }} - 0%</div>
            </div>
            <h2 class="text-wrapper-3">расчёт потерь в милиапмерах</h2>
          </article>
          <div class="frame-wrapper">
            <div class="frame-4" role="img" aria-label="Иконка игр">
              <img src="{{ .order.Adres }}"></img>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
